/* CSS */
.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.flex-child {
  flex: 1;
}

.flex-child.settings {
  text-align: right;
  color: grey;
}

.flex-child.logo {
  font-size: 20px;
  font-weight: bold;
}

.flex-child:first-child {
  margin-right: 20px;
  font-size: 15px;
} 

#popup-content {
  width: 300px;
}

button, #cta-content {
  border-radius: 100px;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
}

button#start, button#unlock {
  background-color: #c2fbd7;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
}

button#start:hover, button#unlock:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

button#settings, button#login {
  background-color: #0631f3;
  box-shadow: rgba(6, 110, 245, 0.2) 0 -25px 18px -14px inset,rgba(6, 110, 245, .15) 0 1px 2px,rgba(6, 110, 245, .15) 0 2px 4px,rgba(6, 110, 245, .15) 0 4px 8px,rgba(6, 110, 245, .15) 0 8px 16px,rgba(6, 110, 245, .15) 0 16px 32px;
  color: white;
}

button#settings:hover, button#login:hover {
  box-shadow: rgba(6, 110, 245, .35) 0 -25px 18px -14px inset,rgba(6, 110, 245, .25) 0 1px 2px,rgba(6, 110, 245,.25) 0 2px 4px,rgba(6, 110, 245,.25) 0 4px 8px,rgba(6, 110, 245,.25) 0 8px 16px,rgba(6, 110, 245,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

button#stop {
  background-color: #d1320a;
  box-shadow: rgba(241, 7, 7, 0.2) 0 -25px 18px -14px inset,rgba(241, 7, 7, .15) 0 1px 2px,rgba(241, 7, 7, .15) 0 2px 4px,rgba(241, 7, 7, .15) 0 4px 8px,rgba(241, 7, 7, .15) 0 8px 16px,rgba(241, 7, 7, .15) 0 16px 32px;
  color: white;
}

button#stop:hover {
  box-shadow: rgba(241, 7, 7, .35) 0 -25px 18px -14px inset,rgba(241, 7, 7, .25) 0 1px 2px,rgba(241, 7, 7,.25) 0 2px 4px,rgba(241, 7, 7,.25) 0 4px 8px,rgba(241, 7, 7,.25) 0 8px 16px,rgba(241, 7, 7,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

a, a:visited, a:hover, a:active {
  color: inherit;
}